<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.title != "Non-Police Warmlines" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
		<li>

			<a href="#" target="_blank">
			Projects</a>

			<ul class="links">

				<a href="/nonpolice-warmlines.html">Non-Police Warmlines</a><br />
				<a href="https://drive.google.com/file/d/1DMtWcNTv0WyDl4BX5yVB1BvOp1OZQQS9/view?usp=drive_link" target="_blank">
			Friendly Safety Plan Zine</a><br />

			   <a href="/big-peer-calendar" target="_blank">The Big Virtual Peer Calendar</a><br />

			   <a href="/mini-case-management-tool" target="_blank">Mini Case Management Tool</a>

			</ul>
			<a href="https://gmail.us11.list-manage.com/subscribe?u=3e6ff5cf8c796fb6f10d56273&id=f554612002">Subscribe to Mailing List</a>
		</li>
		<li>
			
		</li>
	</ul>
	
</nav>
